.git
__pycache__/
*.pyc
.venv/
venv/
venv_new/
venv_test/
MonuMe_Tracker/venv/
MonuMe_Tracker/venv_new/
MonuMe_Tracker/venv_test/
node_modules/
temp/
MonuMe_Tracker/temp/
*.log
logs/
MonuMe_Tracker/logs/
instance/*.db
MonuMe_Tracker/instance/*.db

